/* src/components/OptionsBox.css */

.options-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d78585    ; /* Same background as the navbar */
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Roboto Mono,Roboto Mono,Vazirmatn , monospace;
    /* margin: 20px; Space between the navbar and this component */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .options-section {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    color: #ecf0f1; /* Light text color */
  }
  
  .option-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0; /* Space between items */
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: color 0.3s ease;
  }
  
  .option-icons{
    margin-top: 2px;
    width: 20px;
    height: 20px;
  }
  
  .option-item:hover {
    color: #292e2c; /* Hover effect */
  }
  
  .vertical-line {
    height: 60px; /* Adjust based on the height of your content */
    width: 3px; /* Thickness of the vertical line */
    background-color: #ecf0f1; /* Light color for the line */
    margin: 0 20px; /* Space between sections */
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .options-box {
      flex-direction: column;
      padding: 10px;
    }
  
    .vertical-line {
      height: 3px; /* Turn into a horizontal line for smaller screens */
      width: 100%;
      margin: 10px 0;
    }
  }
  