/* src/components/TextAreaWithRestart.css */

.text-area-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b77272 ;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    border-color: #4879ab;
    box-shadow: 0 4px 10px rgba(20, 22, 162, 0.1); /* Subtle shadow for depth */
    font-family: Roboto Mono,Roboto Mono,Vazirmatn , monospace;
  }
  
  .text-display {
    background-color: #b77272;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .typing-text {
    margin-left: 10%;
    margin-right: 10%;
    text-align: start;
    letter-spacing: normal;
    font-size: 38px;
    line-height: 1.6;
    color: #dae1e8;
  }

  .restart-button{
    display: inline-block;
    background-color: #b77272;
    border-radius: 10px;
    border: 2px solid transparent
  }
  .restart-button:hover{
    border-style: solid;
    border-color: #bcd4ec;
  }
  
  .restart-button img{
    height: 40px;
    width: 40px;
    background-color: #b77272;
  }
  
  .restart-alt{
    margin-top: 20px;
    height: 10%;
    padding: 10px;
    font-size: 24px;
    border: 2px solid;
    border-radius: 10px;
    visibility: hidden;
  }

  .restart-button:hover + .restart-alt{
    visibility: visible;
  }